<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            Home page
        </title>
    </head>
    <body>
        {{>header}}
        <h1 style="position: absolute; top: 40px;  color:#d47a30;text-align:center; left:35%">
            {{title}}
        </h1>
        {{>footer}}
    </body>
</html>
