<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            Home page
        </title>
    </head>
            {{>header}}

    <body>
       <h2 style="position:absolute;top:100px;left:25%;color:red">{{name}} {{type}} </h2>
        {{>footer}}
    </body>
</html>
