<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
           registered
        </title>
    </head>

    <body>
       {{name}} you have succesfully registered
        {{>footer}}
    </body>
</html>
