
 <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            TODOS
        </title>
    </head>
         

    <body>
       <p>name:{{name}}</p>
       <p>mob_no:{{mob_no}}</p>
        {{>footer}}
    </body>
</html>
